### Connecting to my neonDB & importing my synthetic data into a csv(./data/synthetic_data.csv)

In [357]:
import pandas as pd
import psycopg2
# Replace with your Neon connection details
conn_str = "postgresql://neondb_owner:npg_73bvSqNEYZMp@ep-orange-poetry-a88h0wvl-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require"
# Connect to the database
conn = psycopg2.connect(conn_str)
# Query the table and load into Pandas
synthetic_data = pd.read_sql_query("SELECT * FROM customers;", conn)
# load 500 rows of synthetic_data into csv
synthetic_data.head(500).to_csv('./data/synthetic_data.csv', index=False)
print("Data successfully! saved to ./data/synthetic_data.csv")
conn.close()

Data successfully! saved to ./data/synthetic_data.csv

C:\Users\babut\AppData\Local\Temp\ipykernel_25056\1036718382.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  synthetic_data = pd.read_sql_query("SELECT * FROM customers;", conn)

### 1. Load the Datasets
#### Loading both datasets into dataframe and Displaying the first few rows of both datasets

In [358]:
# Displaying the first few rows of both datasets
sales_data = pd.read_csv('./data/1000SalesRecords.csv')
print("===================Sales Data==========================================")
print(sales_data.head())
print("\n===================Synthetic Data=======================================")
print(synthetic_data.head())

===================Sales Data==========================================
                         Region Country   Item Type Sales Channel  \
0  Middle East and North Africa   Libya   Cosmetics       Offline
1                 North America  Canada  Vegetables        Online
2  Middle East and North Africa   Libya   Baby Food       Offline
3                          Asia   Japan      Cereal       Offline
4            Sub-Saharan Africa    Chad      Fruits       Offline

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              M  10/18/2014  686800706  10/31/2014        8446      437.20
1              M   11/7/2011  185941302   12/8/2011        3018      154.06
2              C  10/31/2016  246222341   12/9/2016        1517      255.28
3              C   4/10/2010  161442649   5/12/2010        3322      205.70
4              H   8/16/2011  645713555   8/31/2011        9845        9.33

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     263.33     3692591.20  2224085.18    1468506.02
1      90.93      464953.08   274426.74     190526.34
2     159.42      387259.76   241840.14     145419.62
3     117.11      683335.40   389039.42     294295.98
4       6.92       91853.85    68127.40      23726.45

===================Synthetic Data=======================================
   customer_id    coupon_code      city
0         5182  BLACKFRIDAY50  Edmonton
1         5890                 Montreal
2         3978         SAVE10    OTTAWA
3         1076      HOLIDAY25   CALGARY
4         3021  BLACKFRIDAY50   CALGARY

#### Merging the two datasets and saving it in a csv file

In [359]:
df = pd.merge(sales_data, synthetic_data, left_index=True, right_index=True) # Merge datasets on index
df.to_csv("data/merged_ecommerce_data.csv", index=False) # Save merged data
print(df.head(3)) # Display first few rows of merged data

                         Region Country   Item Type Sales Channel  \
0  Middle East and North Africa   Libya   Cosmetics       Offline
1                 North America  Canada  Vegetables        Online
2  Middle East and North Africa   Libya   Baby Food       Offline

  Order Priority  Order Date   Order ID   Ship Date  Units Sold  Unit Price  \
0              M  10/18/2014  686800706  10/31/2014        8446      437.20
1              M   11/7/2011  185941302   12/8/2011        3018      154.06
2              C  10/31/2016  246222341   12/9/2016        1517      255.28

   Unit Cost  Total Revenue  Total Cost  Total Profit  customer_id  \
0     263.33     3692591.20  2224085.18    1468506.02         5182
1      90.93      464953.08   274426.74     190526.34         5890
2     159.42      387259.76   241840.14     145419.62         3978

     coupon_code      city
0  BLACKFRIDAY50  Edmonton
1                 Montreal
2         SAVE10    OTTAWA

### 2. Justify which is useful for this dataset dictionary, tuple, set?
Between A dictonary, namedTuple and a Set, a dictionary is suitable for this kind of dataset because we want to be able to easily modify the values that are inside the rows and columns and dictonary will allows us to do that more efficiently. Both Tuples and Sets allow duplicates while dictionary does not hence with the help of dictionary we will be able to avoid inserting duplicate values. 

References: 
GeeksforGeeks. (2020, December 16). Differences and Applications of List, Tuple, Set and Dictionary in Python. GeeksforGeeks. https://www.geeksforgeeks.org/python/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/

â€Œ

### 3. Implement Functions and Data structures
#### To represent each record of a transaction, I created a Transaction class.
Transaction class contains the following methods:
inti() - contains all the raw fields.
total.amount() - calculates the total amount of each row/transaction
clean() - does the cleaning of the data
transform() - maps the coupon code to their respective numeric discount number using a dictionary.
engineer_features() - calculate and adds days_since_purchase column
to_dict() - converts the dictonary into a JSON friendly dictionary.

In [360]:
from datetime import datetime

# Define a Transaction class to represent each transaction
class Transaction: 
    def __init__(self, customer_id, product, quantity, price, coupon_code, city, purchase_date): # Initialize transaction attributes
        self.customer_id = customer_id
        self.product = product
        self.quantity = quantity
        self.price = price
        self.coupon_code = coupon_code
        self.city = city
        self.purchase_date = purchase_date  # to be set later
        
        self.discount = 0  # default discount percentage
        self.days_since_purchase = None  # to be computed later
        

    def total_amount(self): # Calculate total amount for the transaction
        return self.quantity * self.price * (1 - self.discount / 100)
    def clean(self):
        """
        Clean the transaction:
        - Fix missing coupon_code/city
        - Normalize city formatting
        Show actual values before and after cleaning.
        """
        # --- Capture before values ---
        before = {
            'city': self.city,
            # capture empty coupon_code as well
            'coupon_code': self.coupon_code
        }

        # --- Cleaning ---
        # Fill missing city with 'Unknown'
        if not self.city or pd.isna(self.city):
            self.city = 'Unknown'
        else:
            self.city = self.city.strip().title()  # normalize formatting

        # Fill missing coupon_code with 'NONE'
        if not self.coupon_code or pd.isna(self.coupon_code): # check for empty or NaN
            self.coupon_code = 'NONE'

        # --- Capture after values ---
        after = {
            'city': self.city,
            'coupon_code': self.coupon_code,
        }

        # --- Print before/after summary ---
        print(f"Transaction {self.customer_id} cleaned:")
        # Print only fields that changed
        for key in before:
            if before[key] != after[key]:
                print(f"  {key}: {before[key]} -> {after[key]}")
        print()
    def transform(self, coupon_map):
        """
        Map coupon_code to numeric discount.
        coupon_map: dict of {coupon_code: discount_percentage}
        """
        code = str(self.coupon_code).strip().upper() # normalize code
        self.discount = coupon_map.get(code, 0)  # default to 0% if unknown
    def engineer_features(self, reference_date=None):
        """
        Create engineered features like days_since_purchase.
        reference_date: date to compare against (default = today)
        """
        if reference_date is None:
            reference_date = datetime.today()

        if self.purchase_date:
            try:
                purchase_dt = pd.to_datetime(self.purchase_date)
                self.days_since_purchase = (reference_date - purchase_dt).days
            except Exception:
                self.days_since_purchase = None
    def to_dict(self):
        """Convert Transaction to JSON-serializable dict."""
        return {
            "customer_id": self.customer_id,
            "product": self.product,
            "quantity": self.quantity,
            "price": self.price,
            "coupon_code": self.coupon_code,
            "city": self.city,
            "discount": self.discount,
            "purchase_date": str(self.purchase_date) if self.purchase_date else None,
            "days_since_purchase": self.days_since_purchase ,
            "total_amount": self.total_amount()
        }

### 4. Bulk loading
#### Using my Transaction class, I bulk loaded records from my dataset into a dictionary.

In [361]:
# Function to load transactions from CSV into a dictionary of Transaction objects
def load_transactions_from_csv(file_path): 
    transactions = {} # Dictionary to hold transactions
    df = pd.read_csv(file_path) # Read CSV into DataFrame
    for index, row in df.iterrows(): # Iterate over DataFrame rows
        tx = Transaction(
            customer_id=row['customer_id'],
            product=row['Item Type'],
            quantity=row['Units Sold'],
            price=row['Unit Price'],
            coupon_code=row.get('coupon_code', None),
            city=row.get('city', None),
            purchase_date=row.get('Order Date', None)
        )
        transactions[index] = tx # Store transaction in dictionary
    return transactions # Return the dictionary of transactions
load_tx = load_transactions_from_csv('./data/merged_ecommerce_data.csv')
print(f"Loaded {len(load_tx)} transactions from CSV.")
# print the contents of the first 5 transactions of dictionary(load_tx)
print("\nFirst 5 transactions:")
for i, (tx_id, tx) in enumerate(load_tx.items()):
    if i >= 5:
        break
    print(f"customer_id: {tx.customer_id}, product: {tx.product}, quantity: {tx.quantity}, price: {tx.price}, coupon_code: {tx.coupon_code}, city: {tx.city}, purchase_date: {tx.purchase_date}, total_amount: {tx.total_amount()}")

Loaded 500 transactions from CSV.

First 5 transactions:
customer_id: 5182, product: Cosmetics, quantity: 8446, price: 437.2, coupon_code: BLACKFRIDAY50, city: Edmonton, purchase_date: 10/18/2014, total_amount: 3692591.1999999997
customer_id: 5890, product: Vegetables, quantity: 3018, price: 154.06, coupon_code: nan, city: Montreal, purchase_date: 11/7/2011, total_amount: 464953.08
customer_id: 3978, product: Baby Food, quantity: 1517, price: 255.28, coupon_code: SAVE10, city: OTTAWA, purchase_date: 10/31/2016, total_amount: 387259.76
customer_id: 1076, product: Cereal, quantity: 3322, price: 205.7, coupon_code: HOLIDAY25, city: CALGARY, purchase_date: 4/10/2010, total_amount: 683335.3999999999
customer_id: 3021, product: Fruits, quantity: 9845, price: 9.33, coupon_code: BLACKFRIDAY50, city: CALGARY, purchase_date: 8/16/2011, total_amount: 91853.85

### 5. Quick Profiling
#### Calculating the maximun, minimum, mean of price and checking unique cities. Using sets to print the outputs.

In [362]:
prices = [tx.price for tx in load_tx.values()] # Extract prices from transactions dictionary

min_price = min(prices) # Calculate minimum price
max_price = max(prices) # Calculate maximum price
mean_price = sum(prices) / len(prices) if prices else 0 # Calculate mean price

# Checking unique cities
unique_cities = set(tx.city for tx in load_tx.values() if tx.city) # Get unique cities

# Print the results in sets
print(f"\nMinimum Price: {min_price}") # Print minimum price in sets
print(f"Maximum Price: {max_price}") # Print maximum price in sets
print(f"Mean Price: {mean_price}") # Print mean price in sets
print(f"Unique Cities: {unique_cities}") # Print unique cities in sets

Minimum Price: 9.33
Maximum Price: 668.27
Mean Price: 274.29506
Unique Cities: {'Montreal', nan, 'Vancouver', 'CALGARY', 'Edmonton', 'OTTAWA', 'TORONTO'}

### 6. Spotting the Grime

In [363]:
# 1. Missing or Null Values
missing_city = [tx for tx in load_tx.values() if not tx.city or pd.isna(tx.city)] # Check for missing city values
missing_coupon = [tx for tx in load_tx.values() if not tx.coupon_code or pd.isna(tx.coupon_code)] # Check for missing coupon_code values

print(f"Transactions with missing city: {len(missing_city)}")
print(f"Transactions with missing coupon_code: {len(missing_coupon)}")

# 2. check if there is Inconsistent Formatting of City Names
# Check for inconsistent city formatting safely
inconsistent_cities = [
    tx.city
    for tx in load_tx.values()
    if isinstance(tx.city, str) and tx.city and not tx.city.islower()
]

print(f"Transactions with inconsistent city formatting: {len(inconsistent_cities)}")
print(f"Inconsistent city names: {set(inconsistent_cities)}")

Transactions with missing city: 74
Transactions with missing coupon_code: 100
Transactions with inconsistent city formatting: 426
Inconsistent city names: {'Montreal', 'Vancouver', 'CALGARY', 'Edmonton', 'OTTAWA', 'TORONTO'}

### 7. Cleaning Method

In [364]:
def clean_transactions(dataset):
    """
    Clean all transactions in the dataset (dictionary of Transaction objects)
    and print before/after counts for missing/invalid fields.
    """
    # Counters for before cleaning
    missing_city_before = 0
    missing_coupon_before = 0

    # Counters for after cleaning
    missing_city_after = 0
    missing_coupon_after = 0
 
    for tx in dataset.values():
        # --- Capture before cleaning ---
        if not tx.city or pd.isna(tx.city): # check for empty or NaN
            missing_city_before += 1
        if not tx.coupon_code or pd.isna(tx.coupon_code): # check for empty or NaN
            missing_coupon_before += 1

        # --- Clean the transaction ---
        tx.clean()

        # --- Capture after cleaning ---
        if not tx.city or pd.isna(tx.city):
            missing_city_after += 1
        if not tx.coupon_code or pd.isna(tx.coupon_code):
            missing_coupon_after += 1

    # --- Print summary ---
    print("=== Cleaning Summary ===")
    print(f"Missing city: {missing_city_before} -> {missing_city_after}")
    print(f"Missing coupon: {missing_coupon_before} -> {missing_coupon_after}")
    print("========================")
    
clean_transactions(load_tx)

Transaction 5182 cleaned:

Transaction 5890 cleaned:
  coupon_code: nan -> NONE

Transaction 3978 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1076 cleaned:
  city: CALGARY -> Calgary

Transaction 3021 cleaned:
  city: CALGARY -> Calgary

Transaction 3730 cleaned:
  city: nan -> Unknown

Transaction 5694 cleaned:
  city: OTTAWA -> Ottawa

Transaction 4319 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 4159 cleaned:
  city: OTTAWA -> Ottawa

Transaction 7287 cleaned:
  city: OTTAWA -> Ottawa

Transaction 3653 cleaned:

Transaction 9449 cleaned:
  city: OTTAWA -> Ottawa

Transaction 6926 cleaned:
  coupon_code: nan -> NONE

Transaction 2890 cleaned:
  coupon_code: nan -> NONE

Transaction 9616 cleaned:
  city: nan -> Unknown

Transaction 8611 cleaned:
  city: TORONTO -> Toronto

Transaction 8283 cleaned:
  coupon_code: nan -> NONE

Transaction 5227 cleaned:
  city: CALGARY -> Calgary

Transaction 1163 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 3798 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2987 cleaned:

Transaction 7875 cleaned:
  coupon_code: nan -> NONE

Transaction 2845 cleaned:
  city: OTTAWA -> Ottawa

Transaction 4038 cleaned:
  city: nan -> Unknown

Transaction 1401 cleaned:
  city: nan -> Unknown

Transaction 8480 cleaned:

Transaction 9178 cleaned:

Transaction 5431 cleaned:
  city: TORONTO -> Toronto

Transaction 7818 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 9444 cleaned:
  coupon_code: nan -> NONE

Transaction 3715 cleaned:

Transaction 5799 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 1016 cleaned:
  city: OTTAWA -> Ottawa

Transaction 6977 cleaned:

Transaction 5962 cleaned:

Transaction 1750 cleaned:
  city: CALGARY -> Calgary

Transaction 4170 cleaned:

Transaction 1301 cleaned:

Transaction 8304 cleaned:

Transaction 4891 cleaned:
  city: nan -> Unknown

Transaction 8701 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 2218 cleaned:

Transaction 3370 cleaned:

Transaction 3853 cleaned:

Transaction 8808 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 4722 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 1839 cleaned:
  city: CALGARY -> Calgary

Transaction 9101 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2130 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2455 cleaned:

Transaction 9082 cleaned:

Transaction 2971 cleaned:
  city: nan -> Unknown

Transaction 1511 cleaned:
  city: CALGARY -> Calgary

Transaction 9561 cleaned:
  city: CALGARY -> Calgary

Transaction 6603 cleaned:
  city: TORONTO -> Toronto

Transaction 5777 cleaned:
  city: nan -> Unknown

Transaction 3840 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8648 cleaned:

Transaction 2138 cleaned:
  city: nan -> Unknown

Transaction 5844 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 2834 cleaned:

Transaction 6209 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 5277 cleaned:

Transaction 1182 cleaned:
  city: nan -> Unknown

Transaction 3391 cleaned:

Transaction 5401 cleaned:

Transaction 6711 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 5924 cleaned:
  city: TORONTO -> Toronto

Transaction 7066 cleaned:
  city: TORONTO -> Toronto

Transaction 8020 cleaned:

Transaction 8392 cleaned:
  coupon_code: nan -> NONE

Transaction 3133 cleaned:
  city: OTTAWA -> Ottawa

Transaction 6015 cleaned:
  city: TORONTO -> Toronto

Transaction 1064 cleaned:

Transaction 5588 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 9702 cleaned:

Transaction 1585 cleaned:

Transaction 7387 cleaned:
  city: CALGARY -> Calgary

Transaction 6643 cleaned:

Transaction 5749 cleaned:

Transaction 7996 cleaned:
  coupon_code: nan -> NONE

Transaction 3638 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 9639 cleaned:
  city: nan -> Unknown

Transaction 8147 cleaned:

Transaction 9090 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 6167 cleaned:

Transaction 7495 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8861 cleaned:

Transaction 1104 cleaned:
  city: OTTAWA -> Ottawa

Transaction 9141 cleaned:
  city: nan -> Unknown

Transaction 4575 cleaned:

Transaction 9423 cleaned:
  city: nan -> Unknown

Transaction 1171 cleaned:
  city: CALGARY -> Calgary

Transaction 5346 cleaned:
  city: TORONTO -> Toronto

Transaction 3232 cleaned:

Transaction 1415 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 7083 cleaned:

Transaction 9545 cleaned:
  city: TORONTO -> Toronto

Transaction 2197 cleaned:

Transaction 9426 cleaned:

Transaction 3306 cleaned:
  coupon_code: nan -> NONE

Transaction 8524 cleaned:
  city: TORONTO -> Toronto

Transaction 5272 cleaned:
  city: nan -> Unknown

Transaction 6071 cleaned:

Transaction 5065 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2375 cleaned:
  city: TORONTO -> Toronto

Transaction 2098 cleaned:
  city: CALGARY -> Calgary

Transaction 1850 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 4997 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 8556 cleaned:

Transaction 2624 cleaned:

Transaction 8394 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1957 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 9293 cleaned:

Transaction 9852 cleaned:

Transaction 5070 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 5531 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1186 cleaned:
  coupon_code: nan -> NONE

Transaction 3996 cleaned:
  coupon_code: nan -> NONE

Transaction 3515 cleaned:
  coupon_code: nan -> NONE

Transaction 7202 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 6143 cleaned:

Transaction 1712 cleaned:

Transaction 6608 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8617 cleaned:

Transaction 2382 cleaned:
  city: CALGARY -> Calgary

Transaction 3218 cleaned:

Transaction 7921 cleaned:
  city: TORONTO -> Toronto

Transaction 5120 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 2475 cleaned:
  city: CALGARY -> Calgary

Transaction 6781 cleaned:
  city: TORONTO -> Toronto

Transaction 6150 cleaned:
  city: OTTAWA -> Ottawa

Transaction 4402 cleaned:
  city: TORONTO -> Toronto

Transaction 6561 cleaned:

Transaction 2840 cleaned:
  city: OTTAWA -> Ottawa

Transaction 5174 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 4327 cleaned:

Transaction 5720 cleaned:

Transaction 8169 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 7584 cleaned:
  city: CALGARY -> Calgary

Transaction 8242 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1769 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 3454 cleaned:
  coupon_code: nan -> NONE

Transaction 3960 cleaned:

Transaction 3329 cleaned:
  city: TORONTO -> Toronto

Transaction 4335 cleaned:
  city: OTTAWA -> Ottawa

Transaction 4343 cleaned:

Transaction 5546 cleaned:
  city: CALGARY -> Calgary

Transaction 8981 cleaned:
  city: OTTAWA -> Ottawa

Transaction 6384 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 1279 cleaned:
  city: CALGARY -> Calgary

Transaction 6187 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 2862 cleaned:
  city: nan -> Unknown

Transaction 5184 cleaned:

Transaction 1855 cleaned:
  city: TORONTO -> Toronto

Transaction 4017 cleaned:
  coupon_code: nan -> NONE

Transaction 6441 cleaned:
  coupon_code: nan -> NONE

Transaction 9587 cleaned:
  city: nan -> Unknown

Transaction 8190 cleaned:

Transaction 7557 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 3824 cleaned:

Transaction 4280 cleaned:
  city: nan -> Unknown

Transaction 3566 cleaned:
  city: OTTAWA -> Ottawa

Transaction 9743 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1690 cleaned:
  city: CALGARY -> Calgary

Transaction 9802 cleaned:
  city: nan -> Unknown

Transaction 1376 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8989 cleaned:
  city: nan -> Unknown

Transaction 1602 cleaned:

Transaction 9607 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2428 cleaned:
  city: nan -> Unknown

Transaction 8321 cleaned:
  city: OTTAWA -> Ottawa

Transaction 3375 cleaned:
  city: nan -> Unknown

Transaction 6177 cleaned:

Transaction 9373 cleaned:
  city: OTTAWA -> Ottawa

Transaction 7132 cleaned:

Transaction 6975 cleaned:
  city: CALGARY -> Calgary

Transaction 3609 cleaned:
  city: TORONTO -> Toronto

Transaction 3620 cleaned:
  city: nan -> Unknown

Transaction 5019 cleaned:

Transaction 9939 cleaned:
  city: TORONTO -> Toronto

Transaction 5053 cleaned:
  city: TORONTO -> Toronto

Transaction 9196 cleaned:

Transaction 7383 cleaned:

Transaction 6695 cleaned:
  city: TORONTO -> Toronto

Transaction 7501 cleaned:
  city: nan -> Unknown

Transaction 4985 cleaned:

Transaction 3279 cleaned:

Transaction 4088 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 6630 cleaned:
  city: OTTAWA -> Ottawa

Transaction 4227 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 9646 cleaned:
  city: TORONTO -> Toronto

Transaction 2579 cleaned:

Transaction 9992 cleaned:
  coupon_code: nan -> NONE

Transaction 7093 cleaned:

Transaction 1339 cleaned:

Transaction 7205 cleaned:
  city: CALGARY -> Calgary

Transaction 7485 cleaned:

Transaction 4005 cleaned:

Transaction 9394 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 7643 cleaned:
  city: TORONTO -> Toronto

Transaction 1735 cleaned:
  city: nan -> Unknown

Transaction 5276 cleaned:

Transaction 2006 cleaned:

Transaction 1690 cleaned:
  city: CALGARY -> Calgary

Transaction 1907 cleaned:
  city: CALGARY -> Calgary

Transaction 3206 cleaned:
  city: TORONTO -> Toronto

Transaction 5546 cleaned:

Transaction 2769 cleaned:
  city: TORONTO -> Toronto

Transaction 4018 cleaned:

Transaction 2602 cleaned:
  city: CALGARY -> Calgary

Transaction 7133 cleaned:

Transaction 7554 cleaned:
  city: nan -> Unknown

Transaction 6981 cleaned:
  city: nan -> Unknown

Transaction 2635 cleaned:
  city: CALGARY -> Calgary

Transaction 7174 cleaned:

Transaction 4135 cleaned:

Transaction 4769 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 8527 cleaned:
  coupon_code: nan -> NONE

Transaction 3796 cleaned:

Transaction 7988 cleaned:
  city: TORONTO -> Toronto

Transaction 8039 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 7481 cleaned:
  city: CALGARY -> Calgary

Transaction 8042 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 3694 cleaned:
  city: CALGARY -> Calgary

Transaction 3315 cleaned:
  city: TORONTO -> Toronto

Transaction 2343 cleaned:
  city: nan -> Unknown

Transaction 2788 cleaned:
  city: nan -> Unknown

Transaction 9087 cleaned:
  city: CALGARY -> Calgary

Transaction 5452 cleaned:

Transaction 2359 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 1477 cleaned:
  city: CALGARY -> Calgary

Transaction 1334 cleaned:
  coupon_code: nan -> NONE

Transaction 1629 cleaned:
  city: TORONTO -> Toronto

Transaction 8671 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8016 cleaned:
  coupon_code: nan -> NONE

Transaction 6804 cleaned:
  city: nan -> Unknown

Transaction 2119 cleaned:
  city: CALGARY -> Calgary

Transaction 5062 cleaned:

Transaction 9733 cleaned:
  city: OTTAWA -> Ottawa

Transaction 6142 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 1277 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 3665 cleaned:
  coupon_code: nan -> NONE

Transaction 8823 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 4531 cleaned:

Transaction 7163 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1843 cleaned:

Transaction 4486 cleaned:
  coupon_code: nan -> NONE

Transaction 4714 cleaned:

Transaction 9624 cleaned:
  city: nan -> Unknown

Transaction 8425 cleaned:
  city: nan -> Unknown

Transaction 2289 cleaned:
  coupon_code: nan -> NONE

Transaction 2199 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 3899 cleaned:
  city: CALGARY -> Calgary

Transaction 3768 cleaned:

Transaction 5515 cleaned:
  city: CALGARY -> Calgary

Transaction 7310 cleaned:
  city: TORONTO -> Toronto

Transaction 7921 cleaned:
  coupon_code: nan -> NONE

Transaction 5501 cleaned:

Transaction 4969 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 3281 cleaned:

Transaction 2149 cleaned:
  city: TORONTO -> Toronto

Transaction 5882 cleaned:
  city: TORONTO -> Toronto

Transaction 9254 cleaned:
  city: nan -> Unknown

Transaction 1650 cleaned:

Transaction 8143 cleaned:

Transaction 8135 cleaned:

Transaction 2943 cleaned:

Transaction 7293 cleaned:
  city: TORONTO -> Toronto

Transaction 3544 cleaned:
  coupon_code: nan -> NONE

Transaction 1951 cleaned:

Transaction 9749 cleaned:
  city: CALGARY -> Calgary

Transaction 7686 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 3076 cleaned:
  city: CALGARY -> Calgary

Transaction 6550 cleaned:
  city: nan -> Unknown

Transaction 4945 cleaned:
  city: nan -> Unknown

Transaction 8282 cleaned:
  city: TORONTO -> Toronto

Transaction 5022 cleaned:

Transaction 2576 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1111 cleaned:
  city: OTTAWA -> Ottawa

Transaction 7793 cleaned:

Transaction 2008 cleaned:

Transaction 1327 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 4426 cleaned:
  city: nan -> Unknown

Transaction 9516 cleaned:
  city: OTTAWA -> Ottawa

Transaction 9789 cleaned:
  coupon_code: nan -> NONE

Transaction 3232 cleaned:
  coupon_code: nan -> NONE

Transaction 2640 cleaned:

Transaction 8902 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8592 cleaned:

Transaction 1119 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 5802 cleaned:
  city: nan -> Unknown

Transaction 4269 cleaned:

Transaction 5746 cleaned:

Transaction 7316 cleaned:
  city: CALGARY -> Calgary

Transaction 4835 cleaned:

Transaction 2630 cleaned:

Transaction 8871 cleaned:

Transaction 5050 cleaned:
  city: OTTAWA -> Ottawa

Transaction 5417 cleaned:

Transaction 9418 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8880 cleaned:
  city: CALGARY -> Calgary

Transaction 8349 cleaned:
  coupon_code: nan -> NONE

Transaction 8209 cleaned:
  city: nan -> Unknown

Transaction 5202 cleaned:

Transaction 2789 cleaned:
  city: TORONTO -> Toronto

Transaction 9248 cleaned:

Transaction 4357 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2986 cleaned:
  city: OTTAWA -> Ottawa

Transaction 7064 cleaned:

Transaction 9730 cleaned:
  coupon_code: nan -> NONE

Transaction 4805 cleaned:
  city: CALGARY -> Calgary

Transaction 7285 cleaned:

Transaction 4870 cleaned:
  city: nan -> Unknown

Transaction 7380 cleaned:
  city: CALGARY -> Calgary

Transaction 7492 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 7695 cleaned:
  city: CALGARY -> Calgary

Transaction 8691 cleaned:
  city: TORONTO -> Toronto

Transaction 9079 cleaned:

Transaction 2777 cleaned:
  city: nan -> Unknown

Transaction 3795 cleaned:
  city: nan -> Unknown

Transaction 2185 cleaned:
  city: CALGARY -> Calgary

Transaction 1153 cleaned:
  city: TORONTO -> Toronto

Transaction 1285 cleaned:

Transaction 8431 cleaned:
  coupon_code: nan -> NONE

Transaction 7977 cleaned:
  city: CALGARY -> Calgary

Transaction 5618 cleaned:
  city: OTTAWA -> Ottawa

Transaction 3539 cleaned:

Transaction 2002 cleaned:

Transaction 7688 cleaned:

Transaction 5532 cleaned:

Transaction 1447 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8707 cleaned:
  city: CALGARY -> Calgary

Transaction 2768 cleaned:
  city: CALGARY -> Calgary

Transaction 8953 cleaned:
  city: CALGARY -> Calgary

Transaction 7099 cleaned:
  city: nan -> Unknown

Transaction 1192 cleaned:
  city: TORONTO -> Toronto

Transaction 8686 cleaned:

Transaction 1683 cleaned:

Transaction 2687 cleaned:
  city: OTTAWA -> Ottawa

Transaction 9387 cleaned:

Transaction 4807 cleaned:
  city: nan -> Unknown

Transaction 8894 cleaned:

Transaction 8669 cleaned:
  coupon_code: nan -> NONE

Transaction 5452 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 9297 cleaned:
  city: CALGARY -> Calgary

Transaction 3758 cleaned:

Transaction 8988 cleaned:

Transaction 7005 cleaned:
  city: TORONTO -> Toronto

Transaction 9524 cleaned:
  city: CALGARY -> Calgary

Transaction 9636 cleaned:
  city: TORONTO -> Toronto

Transaction 2215 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2826 cleaned:
  city: OTTAWA -> Ottawa

Transaction 7373 cleaned:

Transaction 1029 cleaned:

Transaction 6071 cleaned:
  city: CALGARY -> Calgary

Transaction 1994 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8500 cleaned:
  city: CALGARY -> Calgary

Transaction 3328 cleaned:
  coupon_code: nan -> NONE

Transaction 9757 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 4308 cleaned:
  coupon_code: nan -> NONE

Transaction 2343 cleaned:
  city: TORONTO -> Toronto

Transaction 5204 cleaned:

Transaction 3296 cleaned:

Transaction 2267 cleaned:
  city: nan -> Unknown
  coupon_code: nan -> NONE

Transaction 4244 cleaned:
  city: CALGARY -> Calgary

Transaction 5895 cleaned:
  coupon_code: nan -> NONE

Transaction 7689 cleaned:
  city: CALGARY -> Calgary
  coupon_code: nan -> NONE

Transaction 1928 cleaned:

Transaction 5924 cleaned:
  city: OTTAWA -> Ottawa

Transaction 8759 cleaned:
  city: TORONTO -> Toronto

Transaction 7408 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2547 cleaned:
  city: CALGARY -> Calgary

Transaction 9904 cleaned:

Transaction 8875 cleaned:
  city: TORONTO -> Toronto

Transaction 1002 cleaned:
  city: CALGARY -> Calgary

Transaction 9830 cleaned:
  city: CALGARY -> Calgary

Transaction 7924 cleaned:
  city: TORONTO -> Toronto

Transaction 4839 cleaned:

Transaction 7263 cleaned:

Transaction 8026 cleaned:
  city: TORONTO -> Toronto

Transaction 8235 cleaned:
  city: TORONTO -> Toronto

Transaction 3645 cleaned:

Transaction 2054 cleaned:
  city: nan -> Unknown

Transaction 3808 cleaned:
  city: TORONTO -> Toronto
  coupon_code: nan -> NONE

Transaction 2795 cleaned:
  city: TORONTO -> Toronto

Transaction 2340 cleaned:
  city: OTTAWA -> Ottawa
  coupon_code: nan -> NONE

Transaction 9168 cleaned:
  coupon_code: nan -> NONE

Transaction 3357 cleaned:
  city: TORONTO -> Toronto

Transaction 8991 cleaned:
  city: nan -> Unknown

Transaction 5728 cleaned:
  coupon_code: nan -> NONE

Transaction 4161 cleaned:

Transaction 7228 cleaned:
  city: OTTAWA -> Ottawa

Transaction 5823 cleaned:
  city: nan -> Unknown

Transaction 3331 cleaned:

Transaction 2191 cleaned:
  coupon_code: nan -> NONE

Transaction 5447 cleaned:
  city: TORONTO -> Toronto

Transaction 9843 cleaned:

Transaction 9588 cleaned:

Transaction 6349 cleaned:
  city: nan -> Unknown

Transaction 5407 cleaned:
  city: OTTAWA -> Ottawa

Transaction 3587 cleaned:

Transaction 7775 cleaned:
  city: OTTAWA -> Ottawa

Transaction 2010 cleaned:
  city: OTTAWA -> Ottawa

Transaction 5472 cleaned:
  city: nan -> Unknown

Transaction 3811 cleaned:

Transaction 7925 cleaned:
  city: CALGARY -> Calgary

Transaction 2786 cleaned:

Transaction 9850 cleaned:

Transaction 5756 cleaned:
  city: OTTAWA -> Ottawa

Transaction 1055 cleaned:
  city: TORONTO -> Toronto

Transaction 1790 cleaned:
  city: TORONTO -> Toronto

Transaction 1007 cleaned:
  city: nan -> Unknown

Transaction 1732 cleaned:
  coupon_code: nan -> NONE

Transaction 4941 cleaned:

Transaction 4929 cleaned:
  city: CALGARY -> Calgary

Transaction 1198 cleaned:

Transaction 9439 cleaned:
  city: nan -> Unknown

Transaction 4679 cleaned:

Transaction 6946 cleaned:


### 8. Transformations

In [353]:
def transform_transactions(dataset):
    # Define coupon â†’ discount mapping
    coupon_map = {
        'SAVE10': 10,
        'HOLIDAY25': 25,
        'BLACKFRIDAY50': 50,
        'WELCOME5': 5,
        'NONE': 0
    }

    # Track changes
    transformed = 0 # Count of transactions transformed
    for tx in dataset.values():
        old_discount = tx.discount
        tx.transform(coupon_map) # Apply transformation
        # Count if discount changed
        if tx.discount != old_discount:
            transformed += 1

    print("=== Transformation Summary ===")
    print(f"Transactions transformed (coupon_code â†’ discount): {transformed}")
    print("==============================")
    
transform_transactions(load_tx)
print("\nFirst 5 transactions after transformation:")
for i, (tx_id, tx) in enumerate(load_tx.items()):
    if i >= 15:
        break
    print(f"customer_id: {tx.customer_id}, product: {tx.product}, quantity: {tx.quantity}, price: {tx.price}, coupon_code: {tx.coupon_code}, city: {tx.city}, purchase_date: {tx.purchase_date}, discount: {tx.discount}%, total_amount after discount: {tx.total_amount()}")

=== Transformation Summary ===
Transactions transformed (coupon_code â†’ discount): 400
==============================

First 5 transactions after transformation:
customer_id: 5182, product: Cosmetics, quantity: 8446, price: 437.2, coupon_code: BLACKFRIDAY50, city: Edmonton, purchase_date: 10/18/2014, discount: 50%, total_amount after discount: 1846295.5999999999
customer_id: 5890, product: Vegetables, quantity: 3018, price: 154.06, coupon_code: NONE, city: Montreal, purchase_date: 11/7/2011, discount: 0%, total_amount after discount: 464953.08
customer_id: 3978, product: Baby Food, quantity: 1517, price: 255.28, coupon_code: SAVE10, city: Ottawa, purchase_date: 10/31/2016, discount: 10%, total_amount after discount: 348533.78400000004
customer_id: 1076, product: Cereal, quantity: 3322, price: 205.7, coupon_code: HOLIDAY25, city: Calgary, purchase_date: 4/10/2010, discount: 25%, total_amount after discount: 512501.54999999993
customer_id: 3021, product: Fruits, quantity: 9845, price: 9.33, coupon_code: BLACKFRIDAY50, city: Calgary, purchase_date: 8/16/2011, discount: 50%, total_amount after discount: 45926.925
customer_id: 3730, product: Cereal, quantity: 9528, price: 205.7, coupon_code: SAVE10, city: Unknown, purchase_date: 11/24/2014, discount: 10%, total_amount after discount: 1763918.64
customer_id: 5694, product: Cereal, quantity: 2844, price: 205.7, coupon_code: HOLIDAY25, city: Ottawa, purchase_date: 3/4/2015, discount: 25%, total_amount after discount: 438758.1
customer_id: 4319, product: Clothes, quantity: 7299, price: 109.28, coupon_code: NONE, city: Calgary, purchase_date: 5/17/2012, discount: 0%, total_amount after discount: 797634.72
customer_id: 4159, product: Vegetables, quantity: 2428, price: 154.06, coupon_code: SAVE10, city: Ottawa, purchase_date: 1/29/2015, discount: 10%, total_amount after discount: 336651.912
customer_id: 7287, product: Vegetables, quantity: 4800, price: 154.06, coupon_code: HOLIDAY25, city: Ottawa, purchase_date: 12/24/2013, discount: 25%, total_amount after discount: 554616.0
customer_id: 3653, product: Clothes, quantity: 3012, price: 109.28, coupon_code: WELCOME5, city: Montreal, purchase_date: 12/29/2015, discount: 5%, total_amount after discount: 312693.79199999996
customer_id: 9449, product: Snacks, quantity: 2694, price: 152.58, coupon_code: WELCOME5, city: Ottawa, purchase_date: 2/27/2010, discount: 5%, total_amount after discount: 390497.994
customer_id: 6926, product: Household, quantity: 1508, price: 668.27, coupon_code: NONE, city: Edmonton, purchase_date: 11/17/2016, discount: 0%, total_amount after discount: 1007751.1599999999
customer_id: 2890, product: Cosmetics, quantity: 4146, price: 437.2, coupon_code: NONE, city: Montreal, purchase_date: 12/20/2015, discount: 0%, total_amount after discount: 1812631.2
customer_id: 9616, product: Fruits, quantity: 7332, price: 9.33, coupon_code: BLACKFRIDAY50, city: Unknown, purchase_date: 1/8/2011, discount: 50%, total_amount after discount: 34203.78

### 9. Feature Engineering

In [354]:
def engineer_features_for_all(transactions, reference_date=None):
    engineered = 0
    for tx in transactions.values():
        prev_value = tx.days_since_purchase
        tx.engineer_features(reference_date)
        if tx.days_since_purchase is not None and tx.days_since_purchase != prev_value:
            engineered += 1

    print("=== Feature Engineering Summary ===")
    print(f"Transactions with computed days_since_purchase: {engineered}")
    print("====================================")

engineer_features_for_all(load_tx)

# Inspect first few transactions
for i, tx in list(load_tx.items())[:5]:
    print(f"customer_id: {tx.customer_id}, purchase_date: {tx.purchase_date}, days_since_purchase: {tx.days_since_purchase}")

=== Feature Engineering Summary ===
Transactions with computed days_since_purchase: 500
====================================
customer_id: 5182, purchase_date: 10/18/2014, days_since_purchase: 3999
customer_id: 5890, purchase_date: 11/7/2011, days_since_purchase: 5075
customer_id: 3978, purchase_date: 10/31/2016, days_since_purchase: 3255
customer_id: 1076, purchase_date: 4/10/2010, days_since_purchase: 5651
customer_id: 3021, purchase_date: 8/16/2011, days_since_purchase: 5158

### 10. Mini-Aggregation

In [355]:
# Displaying the totoal revenue per city
def revenue_per_city(transactions): # Compute total revenue per shipping city.
    """
    Compute total revenue per shipping city.
    transactions: dict of {id: Transaction}
    Returns: dict {city: total_revenue}
    """
    revenue_by_city = {} # Dictionary to hold revenue per city

    for tx in transactions.values(): # Iterate over transactions
        city = tx.city or 'Unknown' # Use 'Unknown' for missing city
        revenue = tx.total_amount() # Calculate revenue for the transaction
        revenue_by_city[city] = revenue_by_city.get(city, 0) + revenue # Accumulate revenue

    return revenue_by_city # Return the revenue dictionary


# Example usage
city_revenue = revenue_per_city(load_tx) # Compute revenue per city

print("=== Revenue per City ===") # Display revenue per city
for city, revenue in city_revenue.items():
    print(f"{city}: ${revenue:,.2f}")

=== Revenue per City ===
Edmonton: $81,356,468.33
Montreal: $93,325,042.15
Ottawa: $89,680,653.61
Calgary: $94,095,250.08
Unknown: $80,073,094.03
Toronto: $58,109,685.53
Vancouver: $83,205,548.85

### 11. Serialization CheckPoint

In [ ]:
import json

def save_transactions_to_json(transactions, filepath):
    """
    Serialize transactions dict to JSON file.
    transactions: dict {id: Transaction}
    filepath: destination JSON file path
    """
    data_to_save = {tid: tx.to_dict() for tid, tx in transactions.items()} # Convert to dict

    with open(filepath, "w") as f: # Write to file
        json.dump(data_to_save, f, indent=4) # print JSON

    print(f"âœ… Cleaned & transformed data saved to {filepath}")
save_transactions_to_json(load_tx, "./data/cleaned_transformed_transactions.json")

âœ… Cleaned & transformed data saved to ./data/cleaned_transformed_transactions.json

### 12. Soft Interview Reflection
My code is now neater, more structured, and simpler to maintain thanks to functions.  
I can concentrate on one task at a moment and prevent code repetition by grouping related stages (such as `clean()`, `transform()`, and `engineer_features()`).  
Additionally, functions enhance readability, allowing othersâ€”including my future selfâ€”to grasp the workflow more rapidly. 
The project became more professional and efficient overall as functions transformed a lengthy, disorganized script into a modular pipeline for data transformation, cleaning, and analysis.